html,
body {
    background-color: black;
    font-family: "Inter", Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* border: 5px dashed red; */
}

#main {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: row;
}

#displayMessageText,
.bigText {
    color: white;
    font-size: 2em;
    font-weight: 600;
    max-width: 450px;
    /* position: absolute; */
    /* left: 20px;
    top: 20px; */
}

#ghostName {
    margin-right: 0.5em;
    color: white;
    font-size: 3em;
    font-weight: 600;
}

#lil-ghosty-boy {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#idleScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    /* display: none; */
}

.idleElement {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#ghosty-gang {
    width: 100%;
    height: 100%;
}

#clockInButton {
    border: 3px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    cursor: pointer;
}

#qr-code {
    width: 80%;
}

.hidden {
    visibility: hidden;
}

@keyframes instrFade {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}